/* colors
#C5BCAE Beige
#E1D2BE Lys beige
#EAE8E3 Cream
#434340 Mørk grå 
*/

/*_---------------Overordnet styling */
body {
  hyphens: auto;
}

h2 {
  font-family: "Raleway", sans-serif;
}

hr {
  color: #c5bcae;
  opacity: 0.5;
  width: 80vw;
}

p {
  line-height: 1.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h3,
h4,
p,
a,
li {
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url(img/marble.texture.nerfpng.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  filter: brightness(1.2);
}

/*--------------------------------------- INDEX.HTML */
/*FIRST SECTION INDEX*/

#first_section div img {
  object-fit: contain;
  /* height: 50vw; */
  width: auto;
  filter: brightness(1.2);
}
.splash_col {
  display: flex;
  flex-flow: wrap-reverse;
  gap: 2rem;
  justify-content: space-evenly;
}

#splash_img1 {
  margin: 0;
}
#first_section h2 {
  font-family: "Vidaloka", serif;
  color: #434340;
  letter-spacing: 0.5rem;
  grid-area: 1/2;
  text-align: center;
}
#first_section h1 {
  font-family: "Vidaloka", serif;
  color: #434340;
  letter-spacing: 0.5rem;
  grid-area: 1/2;
  text-align: center;
}
.text1 {
  font-size: 1.5rem;
  margin: 0;
}
/*SECOND SECTION INDEX*/
#second_section {
  text-align: center;
}

.second_section_col1,
.second_section_col2,
.second_section_col3,
.second_section_col4 {
  text-align: left;
  background-color: #eae8e3;
  background-color: rgba(248, 246, 241, 0.699);
  padding: 0.6em;
}

section nav ul li {
  background-color: #c5bcae;
  color: white;
}

.second_section_img1,
.second_section_img3,
.second_section_img2 {
  justify-content: center;
  padding: 0.5em;
}

.second_section_img1 img,
.second_section_img2 img,
.second_section_img3 img {
  width: 20rem;
  opacity: 0.95;
  filter: brightness(1.2);
}

/*THIRD SECTION INDEX*/

/* FORM */
#kontakt_form {
  width: 360px;
}

#third_section {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  text-align: center;
  background-color: #c5bcae;
  margin: 10px;
}
button {
  background-color: #434340;
  border-style: none;
  max-width: 12em;
  font-family: "Raleway", sans-serif;
  color: #eae8e3;
}

form div h2 {
  color: white;
}

label {
  font-family: "Raleway", sans-serif;
  color: #434340;

  justify-content: center;
}

/*--------------------------------------- INDEX.HTML SLUT */

/*--------------------------------------- KOMPETENCER */
#second_section_komp_col {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.komp {
  background-color: #faf8f4c5;
  border: 0.5px solid #c5bcae;
  margin: 4px;
  display: inline-block;
  width: 27vw;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}

#third_section_komp {
  display: flex;
  justify-content: center;
  text-align: center;
}

#second_section_komp h3 {
  color: #434340;
  text-align: center;
}

.projekter_her {
  color: #434340;
  text-decoration: none;
}
/*--------------------------------------- KOMPETENCER SLUT*/

/*--------------------------------------- PROJEKTER */

.first_section_pro,
.second_section_pro,
.third_section_pro,
.fourth_section_pro {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  margin: 5px;
}

.grund_ux1,
.grund_ux2,
.responsive_v2,
.animation,
.grund_indhold1,
.grund_indhold2 {
  text-align: left;
  background-color: #eae8e3;
  background-color: rgba(248, 246, 241, 0.699);
  padding: 5px;
}

.responsive_v2_img a img,
.indhold_img2 a img,
.indhold_img1 a img,
.animation_img a img,
.grund_ux_img a img {
  width: 20rem;
  opacity: 0.95;
}

.responsive_v2_img a img:hover,
.indhold_img2 a img:hover,
.indhold_img1 a img:hover,
.animation_img a img:hover,
.grund_ux_img a img:hover {
  opacity: 0.3;
}

/*--------------------------------------- PROJEKTER SLUT*/

footer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin: 3rem;
  font-size: 0.8em;
}

/* MENU STYLING MOBIL */
#menu {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

header {
  overflow: auto;
}

nav ul li a {
  color: #434340;
  text-decoration: none;
}

header nav ul li {
  margin: 0.5rem;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul {
  padding-left: 0px;
}

#insta,
#fb {
  max-height: 1rem;
  display: inline;
  margin: 0.6rem;
  background-color: #434340;
}

nav div {
  color: #434340;
  margin: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

/* BURGERMENU */
.hidden {
  display: none;
  /*transform:scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (max-width: 700px) {
  #first_section div img {
    height: 50vw;
  }
}

@media only screen and (min-width: 460px) {
  #first_section {
    gap: 10px;
  }
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline;
  }

  /*BURGERMENU SLUT*/

  #menu {
    display: flex;
    justify-content: center;
    flex-flow: row;
    background-color: #c5bcae;
  }

  .some {
    height: 3vw;
    width: 4vw;
    background-color: #c5bcae;
    margin: 0;
  }
  #insta,
  #fb {
    background: none;
  }
  .splash_col {
    grid-template-columns: 250px 1fr 150px;
    grid-template-rows: 300px 300px 300px;
    display: grid;
    gap: 0rem;
    justify-content: center;
  }

  .img1 {
    grid-row: 2;
    grid-column: 2;
  }

  .img2 {
    grid-column: 3;
    grid-row: 2;
    margin-left: -90px;
    margin-top: 160px;
  }
  /*
  #first_section div img {
    height: 45vw;
  } */

  .text1 {
    font-size: 2rem;
  }

  #splash_img2 {
    height: 26vw;
  }

  .img3 {
    grid-column: 2;
    margin-top: 134px;
    grid-row: 2;
    z-index: -1;
    margin-left: -209px;
  }

  #splash_img3 {
    height: 44vw;
  }

  #splash_img4 {
    height: 189px;
    margin-top: 7px;
    margin-left: 191px;
  }
  .img4 {
    grid-column: 1;
    grid-row: 2;
    margin-top: -59px;
    margin-left: -10px;
  }

  .text1 {
    margin-top: 14px;
    grid-column: 2;
    font-size: 1.5rem;
  }

  #splash_img1 {
    height: 54vw;
  }
}

@media only screen and (min-width: 859px) {
  .splash_col {
    grid-template-columns: 100px 250px 250px 250px 250px 100px;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 0;
  }

  #splash_img1 {
    height: 550px;
  }

  .img1 {
    grid-column: 3;
  }

  .img2 {
    grid-column: 5;
  }

  .img3 {
    grid-column: 3;
    margin-top: 127px;
    margin-left: -180px;
    z-index: -1;
  }

  .img4 {
    grid-column: 2;
    grid-row: 2;
    /* margin-top: 7px;
    margin-left: 191px;*/
  }

  #splash_img2 {
    height: 264px;
  }

  #splash_img3 {
    height: 377px;
  }

  #splash_img4 {
    height: 189px;
    /*  margin-top: 7px;
    margin-left: 191px;
 */
  }
  .text1 {
    grid-column: 2/6;
    font-size: 1.8rem;
  }

  .splash_col {
    justify-content: center;
  }

  #second_section_komp_col {
    gap: 2em;
  }

  .komp {
    padding: 15px;
  }

  /*SECOND SECTION INDEX HTML */
  /*
  #second_section_wrap1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img1 > img {
    width: 546px;
  }

  #second_section_wrap2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img1,
  .second_section_img3,
  .second_section_img2 {
    padding: 0px;
  }

  #second_section_wrap3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img3 > img {
    width: 556px;
  }

  .first_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .second_section_pro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .grund_ux_img > a:nth-child(1) > img:nth-child(1) {
    width: 362px;
  }

  .third_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .fourth_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .responsive_v2_img a img,
  .indhold_img2 a img,
  .indhold_img1 a img,
  .animation_img a img,
  .grund_ux_img a img {
    width: 546px;
  }*/
}

@media only screen and (min-width: 1000px) {
  /*SECOND SECTION INDEX HTML */

  #second_section_wrap1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img1 > img {
    width: 400px;
  }

  #second_section_wrap2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img1,
  .second_section_img3,
  .second_section_img2 {
    padding: 0px;
  }

  #second_section_wrap3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .second_section_img3 > img {
    width: 400px;
  }

  .first_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .second_section_pro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .grund_ux_img > a:nth-child(1) > img:nth-child(1) {
    width: 250px;
  }

  .third_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .fourth_section_pro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3rem;
    gap: 2rem;
  }

  .responsive_v2_img a img,
  .indhold_img2 a img,
  .indhold_img1 a img,
  .animation_img a img,
  .grund_ux_img a img {
    width: 400px;
  }

  .komp {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
