/* colors
#C5BCAE Beige
#E1D2BE Lys beige
#EAE8E3 Cream
#434340 Mørk grå 

*/
hr {
  color: #c5bcae;
  opacity: 0.5;
}

section div img {
  object-fit: fill;
  width: 100%;
  height: auto;
}

#first_section h2 {
  font-family: "Vidaloka", serif;
  color: #434340;
  letter-spacing: 0.5rem;
  grid-area: 1/2;
  text-align: center;
}
#first_section h1 {
  font-family: "Vidaloka", serif;
  color: #434340;
  letter-spacing: 0.5rem;
  grid-area: 1/2;
  text-align: center;
}
#first_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  /* display: flex;
  flex-flow: wrap; */
  box-sizing: border-box;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1rem;
}

.text1 {
  grid-column: span 2;
}

/*
#first_section {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#splash.img1 {
  grid-area: 1/1;
  box-sizing: border-box;
}

#splash.img2 {
  grid-area: 1/2;
  box-sizing: border-box;
}

#splash.img3 {
  box-sizing: border-box;
  grid-area: 2/1;
}

#splash.img4 {
  grid-area: 2/2;
  box-sizing: border-box;
}
*/

h3,
h4,
p,
a,
li {
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url(img/marble.texture.nerfpng.png);
}

/* MENU STYLING MOBIL */
#menu {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

header {
  overflow: auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

li {
  margin: 1rem;
}

nav {
  background-color: #c5bcae;
}

#insta,
#fb {
  max-height: 1rem;
  display: inline;
  margin: 0.6rem;
}

nav div {
  color: white;
  margin: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

/* BURGERMENU */
.hidden {
  display: none;
  /*transform:scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 460px) {
  #first_section {
    margin-left: 20px;
    gap: 10px;
  }
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline;
  }

  /*BURGERMENU SLUT*/
}
